@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    align-items: center;
    min-height: 100vh;
    background-color: #e9e9e9;
}

html{font-family: 'Lato', sans-serif;}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1{
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
    color: #018bb9;
}

h2{
    font-weight: 400;
    font-size: 35px;
}

h2 span:last-child{
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.main span{
    display: inline-block;
    width: 40px;
    padding: 0 10px;
}

.hidden{display: none;}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #c7c7c7;
    padding: 5px 10px;
    transition: all .1s linear;
    font-weight: bold;
    width: 90px;
}

.buttons button:first-child{
    background-color: #018bb9;
    color: white;
}

.buttons button:hover{transform: scale(1.1);}

@keyframes blink{
    to{
        background-image: linear-gradient(45deg, transparent 13%, #018bb9d3 21%,transparent 40%);
        background-size: 100% 149%;
    }from{
        background-image: linear-gradient(45deg, transparent 13%, #018bb9d3 21%,transparent 40%);
        background-size: 1344% 185%;
    }
}

.blink{animation: blink .5s linear;}